/* src/components/LayeredImage.module.css */
.layerContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .imageLayer {
    position: absolute;
    inset: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .imageLayer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }